<h1>Listing employees</h1>

<%= form_for :search, url: employees_path, method: :get do |f| %>
  <%= f.label :state %>
  <%= f.text_field :state %>
  </br>
  <%= f.label :zip %>
  <%= f.text_field :zip %>
  </br>
  <%= f.label :city %>
  <%= f.text_field :city %>
  </br>
  <%= f.label :ssn %>
  <%= f.text_field :ssn %>
  </br>
  <%= f.submit "Search" %>
<% end %>

<table>
  <tr>
    <th>name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.first_name %> <%= employee.last_name %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
