<h1>Listing chefs</h1>
<%= link_to "Home", root_path %>
 | <%= link_to 'New Chef', new_chef_path %>

<table>
  <tr>
    <th>name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chefs.each do |chef| %>
  <tr>
    <td><%= chef.employee.first_name %> <%= chef.employee.last_name %></td>
    <td><%= link_to 'Show', chef %></td>
    <td><%= link_to 'Edit', edit_chef_path(chef) %></td>
    <td><%= link_to 'Destroy', chef, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
