<h1>Listing waiters</h1>
<%= link_to "Home", root_path %>
 | <%= link_to 'New Waiter', new_waiter_path %>

<table>
  <tr>
    <th>name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @waiters.each do |waiter| %>
  <tr>
    <td><%= waiter.employee.first_name %> <%= waiter.employee.last_name %></td>
    <td><%= link_to 'Show', waiter %></td>
    <td><%= link_to 'Edit', edit_waiter_path(waiter) %></td>
    <td><%= link_to 'Destroy', waiter, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
