<h1>Sign in</h1>
<%= link_to "Home", root_path %>

<%= form_for :customer_session, url: customer_sessions_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  </br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </br>
  <%= f.submit "Sign in"%>
<% end %>
